$swu-colors: (
    primary: (
		100: hsl(201, 64%, 96%),
		200: hsl(199, 61%, 92%),
		300: hsl(200, 62%, 78%),
		400: hsl(200, 63%, 63%),
		500: hsl(200, 63%, 51%),
		600: hsl(200, 100%, 38%),
		700: hsl(205, 81%, 45%),
		800: hsl(207, 85%, 34%),
		900: hsl(208, 89%, 24%),
	),
    secondary: (
		100: hsl(127, 43%, 96%),
		200: hsl(124, 46%, 93%),
		300: hsl(123, 46%, 80%),
		400: hsl(123, 45%, 66%),
		500: hsl(123, 46%, 55%),
		600: hsl(123, 59%, 44%),
		700: hsl(124, 64%, 33%),
		800: hsl(124, 68%, 22%),
		900: hsl(124, 72%, 11%),
	),
	foreground: (
		100: hsl(0, 0%, 0%),
		200: hsl(0, 0%, 5%),
		300: hsl(0, 0%, 10%),
		400: hsl(0, 0%, 15%),
		500: hsl(0, 0%, 20%),
		600: hsl(0, 0%, 25%),
		700: hsl(0, 0%, 30%),
		800: hsl(0, 0%, 35%),
		900: hsl(0, 0%, 40%),
	),
	background: (
		100: hsl(0, 0%, 100%),
		200: hsl(0, 0%, 95%),
		300: hsl(0, 0%, 90%),
		400: hsl(0, 0%, 85%),
		500: hsl(0, 0%, 80%),
		600: hsl(0, 0%, 75%),
		700: hsl(0, 0%, 70%),
		800: hsl(0, 0%, 65%),
		900: hsl(0, 0%, 60%),
	),
	neutral: (
		100: hsl(0, 0%, 70%),
		200: hsl(0, 0%, 65%),
		300: hsl(0, 0%, 60%),
		400: hsl(0, 0%, 55%),
		500: hsl(0, 0%, 50%),
		600: hsl(0, 0%, 45%),
		700: hsl(0, 0%, 40%),
		800: hsl(0, 0%, 35%),
		900: hsl(0, 0%, 30%),
	),
	success: (
		100: #99d49b,
		200: #78c77c,
		300: #58b95c,
		400: #43a047,
		500: #317534,
		600: #285f2a,
		700: #225124,
		800: #1c431e,
		900: #132d14,
	),
	warning: (
		100: #f4e6bd,
		200: #efd994,
		300: #ebcb6a,
		400: #e7be40,
		500: #d5a515,
		600: #bd920e,
		700: #af8607,
		800: #a27a00,
		900: #846300,
	),
	error: (
		100: #e8bdbc,
		200: #de9a98,
		300: #d47674,
		400: #cc514e,
		500: #b0302d,
		600: #9b2623,
		700: #901d1a,
		800: #841411,
		900: #6d0c0a,
	),
	primary-shade: 600, 
	secondary-shade: 600,
	foreground-shade: 400,
	background-shade: 400,
	neutral-shade: 400,
	success-shade: 400,
	warning-shade: 400,
	error-shade: 400,
);

$default-colors: $swu-colors;