@use "settings" as *;
@use "base_theme/library" as *;

.main-content {
	position: relative;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	outline: solid pink 4px;

	& > :first-child {
		margin-top: calc(var(--typography-spacing-vertical) * 4);
	}

	& > * {
		width: 100%;
	}

	& > :not(full-width):last-child {
		margin-bottom: calc(var(--typography-spacing-vertical) * 4);
	}
}

.footer,
.header {
	border-radius: 0px;
}

.header {
	position: relative;
	z-index: 900;
}

.header__wrapper {
	display: flex;
	flex-direction: row;
	gap: var(--typography-spacing-vertical);
	justify-content: space-between;
}

.footer > .outer-bound {
	align-items: end;

	p {
		margin-bottom: var(--spacing);
	}
}

.logo {
	text-decoration: none;
	flex-wrap: nowrap;
	gap: var(--spacing-300);
	justify-content: center;
	align-items: center;

	svg {
		height: 100%;
		width: 5rem;
	}

	span {
		font-weight: 800;
		@include type-setting(700);

		@include for-size(sm-down) {
			display: none;
		}
	}
}
