@use "settings" as *;
@use "../library" as *;

.menu {
	$max-width: 20rem;
	$min-width: 16rem;

	@include for-size(xl-down) {
		position: fixed;
		inset: 0;
		left: auto;

		z-index: -1;
		overflow-y: auto;
		overflow-x: hidden;

		@include slope-property-minmax(
			max-width,
			rem-to-px($min-width),
			rem-to-px($max-width),
			1920px,
			2560px
		);

		max-height: 100vh;
		width: 100%;
		min-width: $max-width;

		display: flex;
		flex-direction: column;

		background: var(--background-color);
		box-shadow: var(--card-box-shadow);
		transform: translate(120%, 0);
		transition: transform 200ms ease-in-out;
		opacity: 0; // avoid flicker by resize. 
	}

	@include for-size(sm-down) {
		max-width: 100%;
	}

	&-is-open .menu {
		max-width: auto;
		transform: translate(0%, 0);
		opacity: 1; // avoid flicker by resize. 
	}

	&-is-open #menu-button {
		line,
		path {
			transform-origin: 100% center;
			transition: transform 200ms ease;
		}

		line:nth-of-type(2),
		path:nth-of-type(2) {
			transform: translate(0, -18%) rotate(-45deg);
		}

		line:nth-of-type(1),
		path:nth-of-type(1) {
			opacity: 0;
		}

		line:nth-of-type(3),
		path:nth-of-type(3) {
			transform: translate(0, 18%) rotate(45deg);
		}
	}

	.main-nav {
		a, .button {
			padding: var(--spacing-200) var(--spacing);
			font-weight: 600;
			@include type-setting(400, 0);
		}
	}

	a,
	.button,
	summary {
		width: 100%;
		margin: 0;
		text-align: left;
	}
}

#main-menu {
	display: flex;
	height: 100%;

	ul {
		display: flex;
		flex-direction: row;
		gap: 0;
		height: 100%;
	}

	@include for-size(xl-down) {
		justify-content: center;
		align-items: center;
		
		ul {
			flex-direction: column;
			justify-content: center;
			width: 100%;
			align-items: stretch;
		}
	}
}

#menu-button {
	display: none;
	align-self: center;

	@include for-size(xl-down) {
		display: inherit;
	}
}
